* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    border: solid 1px;
    width: 100%;
    color: #fff;
    background-color: #000; 
    background-image: linear-gradient(to bottom right, #000000, #333333);
    border-radius: 12px;
}

h1:hover, h2:hover {
    cursor: default;
}

h1 {
    display: flex;
    justify-content: center;
    color: #fff; 
    font-weight: 500;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    /* background-color: #111;  */
    background-image: linear-gradient(to bottom right, #000000, #333333);
    padding-top: 20px; 
}

nav ul li {
    display: inline-flex;
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

nav ul li a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #deb887;
}

main {
    margin-left: 180px;
    padding: 0px;
}

body {
    background-color: #deb887; 
    background-repeat: no-repeat;
    margin: 0;
}

h2 {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 35px;
    color: #fff; 
    /* background-color: #000;  */
    background-image: linear-gradient(to bottom right, #000000, #333333);
    border: solid 1px;
    border-radius: 10px;
    height: 0px;
    
}

form h3 {
    display: flex;
    justify-content: center;
    margin: 6px;
    color: #fff; 
}

p {
    padding: 2px;
    /* color: white; */
}

.album p:hover, h3:hover {
    cursor: pointer;
    color: #deb887;
}

.now-playing {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px; 
}

.now-playing .music-info {
    text-align: center;
    margin-right: 20px;
}

.now-playing img {
    border-radius: 50%;
    margin-bottom: 10px;
    animation: spin 15s linear infinite;
    border: dashed 3px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-info {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-info p:hover, h3:hover{
    color: white;
}

.music-info img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


.album-list {
    margin-bottom: 20px;
}

.album-list ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.album-list ul li {
    margin-right: 20px;
    margin-bottom: 20px;
}

.album-list ul li img {
    border-radius: 10%;
}

.album {
    border: solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    /* background-color: #000; */
    background-image: linear-gradient(to bottom right, #000000, #333333);
    color: #fff; 
    border-radius: 12px;
    width: fit-content;
}

.album img {
    border-radius: 20px;
    margin: 20px;
    width: 170px;
    height: auto;
}

.album img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.new-album {
    padding: 50px;
    display: flex;
    justify-content: center;
    border: solid 1px;
    width: fit-content;
    max-width: 500px; 
    height: 300px;
    margin: 95px auto; 
    /* background-color: #000;  */
    background-image: linear-gradient(to bottom right, #000000, #333333);
    color: #fff; 
    border-radius: 12px;
}

.add-album-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    color: #fff; 
}

.add-album-form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.add-album-form input[type="text"],
.add-album-form input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    box-sizing: border-box; 
}

.add-album-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #deb887;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.add-album-form button:hover {
    color: white;
}

.album-stock {
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    font-weight: bold;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #000;  */
    background-image: linear-gradient(to bottom right, #000000, #333333);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    border: solid 1px;
    border-radius: 8px;
}

.footer-player {
    display: flex;
    align-items: center;
}

footer img {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

footer img:hover {
    transform: scale(1.1); 
}

.footer-controls {
    display: flex;
    align-items: center;
}

footer p, h3 {
    margin: 5px;
}
