* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    padding-bottom: 4px;
    /* border: solid 1px; */
    /* width: fit-content; */
    color: black;
    /* background-color: black; */
    border-radius: 20px;
}

h1:hover, h2:hover {
    cursor: default;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
}

header h1{
    background-image: linear-gradient(to bottom right, #656565, #000000);
    border-radius: 8px;
    /* border: solid 1px; */
}

nav ul li {
    display: inline;
    margin: 0 4px;
    padding: 6px;
    color:white;
    background-image: linear-gradient(to bottom right, #656565, #000000);
    
    border-radius: 8px;
    border: solid 1px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color:red;
}

body {
    background-image: linear-gradient(to bottom right, #656565, #000000);
    /* background-image: linear-gradient(to bottom right, #adf7ff, #0048ff); */
    background-repeat: no-repeat;
  }

  h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 40px;
    /* width: fit-content; */
    color: white;
    background-color: black;
    border: solid 1px;
    border-radius: 10px;
    height:0px;
    background-image: linear-gradient(to bottom right, #000000, #383838);
  }
  
  form h3 {
    display: flex;
    justify-content: center;
    margin: 6px;
    color: white;
}

p {
    padding: 2px;
}

p:hover, h3:hover{
    cursor: pointer;
    color: red;
}

.center-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.center-hero img{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 10px;
}

.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: larger;
    border: solid 1px;
    padding: 8px;
    background-color: black;
}

.now-playing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: solid 1px;
    border-radius: 12px;
     background-image: linear-gradient(to bottom right, #000000, #383838);
    /* background-image: linear-gradient(to bottom right, #2d6df6, #000000); */
    width: fit-content;
    max-width: auto; 
    margin: 20px auto; 
    color: white;
    /* box-shadow: 80%; */
}

.music-info{
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.music-info img {
    border-radius: 20px;
}

.music-info img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.music-controls {
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.music-controls2 {
    padding: 20px;
    margin-top: 20px;

    
}

.music-controls button {

    color: black;
    background-image: linear-gradient(to bottom right, #6a6a6a, hsl(0, 0%, 100%));
    border-radius: 8px;
    padding: 4px;
    margin: 2px;
}

.music-controls button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}


.album-list ul {
    margin: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.album1, .album2, .album3, .album4{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cente;
    margin: 10px;
    padding: 15px;
     background-image: linear-gradient(to bottom right, #000000, #383838);
    /* background-image: linear-gradient(to bottom right, #2d6df6, #000000); */
    color: white;
    border-radius: 12px;
}

.album1 img, .album2 img, .album3 img, .album4 img{
    border-radius: 20px;
    margin: 20px;
}

.album1 img:hover, .album2 img:hover, .album3 img:hover, .album4 img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.new-album {
    padding: 50px;
    display: flex;
    justify-content: center;
    border: solid 1px;
    width: fit-content;
    max-width: 500px; 
    height: 300px;
    margin: 45px auto; 
     background-image: linear-gradient(to bottom right, #000000, #383838);
    /* background-image: linear-gradient(to bottom right, #2d6df6, #000000); */
    border-radius: 12px;
    color: white;
}

.add-album-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}

.add-album-form label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.add-album-form input[type="text"],
.add-album-form input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box; 
}

.add-album-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    /* background-image: linear-gradient(to bottom right, #3474ff, #001aff); */
     background-image: linear-gradient(to bottom right, #000000, #636363);
    color: #fff;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.add-album-form button:hover {
    color: rgb(255, 0, 0);
}

.album-stock {
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    font-weight: bold;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to bottom right, #000000, #383838);
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: solid 1px;
    padding: 2px;
}

footer p {
    display: flex;
    justify-content: center;
}